# Node
node_modules/
dist/
.env
*.log
tmp/
.cache/

# LocalStack
localstack/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Build
*.tsbuildinfo

# SonarCloud
coverage/
.scannerwork/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Outros
*.swp
*.swo
